*{
  margin: 0;
  padding: 0;
}
.parent{
  padding: 43px;
  margin: 34px;
  border: 3px solid purple;
}
.box{
  height: 133px;
  width: 80vw;
  margin: 3px;
  border: 2px solid #000;
  padding: 3px;
}

.box1{
  background:  aqua;
  /* position: absolute;
  top: 0px; */
  position: sticky;
  top: 0px;
}
.box2{
background: azure;
/* position: relative;
top: 20px;
left: 20px; */
}
.box3{
  background: green;
  /* position: fixed;
  bottom: 0;
  height: 30px;
  left: 30px; */

}
.box4{
  background: purple;
  /* position: sticky;
  bottom: 0; */
}

